<div class="comment-main-level">
    <!-- -->

    <div class="comment-box">
        <div class="comment-head">
            {{#each this.userCom}}
            {{!-- <div class="comment-avatar"><img src="/assets/images/user/{this.avatar}" alt=""></div> --}}
            <h6 class="comment-name by-author"> {{this.prenom}} {{{maskNom this.nom}}}</h6>
            {{/each}}
            <span>{{{formatDateCom this.date}}} (Le {{{formatDate this.date "DD MMMM YYYY à HH:mm"}}})</span>
            {{#if @root.user}}
            <form action="/like/commentaire/{{this.id}}" method="post" target="iframe">
                <button onclick="likeYes({{this.id}})" type="submit"class="btn-icon">
                    <i id="heart-{{this.id}}"class="bi bi-heart"></i>
                </button>
            </form>
           
            <form action="/report/commentaire/{{this.id}}" method="post" target="iframe">
                <button type="submit"class="btn-icon">
                    <i class="bi bi-exclamation-octagon"></i>
                </button>
            </form>
            <form target="iframe">
                <button type="submit"class="btn-icon">
                    <i class="bi bi-reply-fill"></i>
                </button>
            </form>
            <iframe name="iframe" style="position: absolute; visibility: hidden"></iframe>
            {{/if}}

        </div>
        <div class="comment-content">
            <div class="d-flex col-12">
                {{>article/form}}
            </div>
            {{this.content}}
        </div>
    </div>
</div>

<script>	

    function likeYes (id){
        console.log('true like', id)
        var heart = document.getElementById(`heart-${id}`);
        heart.classList.remove('bi-heart')
        heart.classList.add('bi-heart-fill')        
    }   

</script>