<div class="comment-main-level">
    <!-- -->

    <div class="comment-box">
        <div class="comment-head">
            {{#each this.userCom}}
            {{!-- <div class="comment-avatar"><img src="/assets/images/user/{this.avatar}" alt=""></div> --}}
            <h6 class="comment-name by-author"> {{this.prenom}} {{{maskNom this.nom}}}</h6>
            {{/each}}
            <span>{{{formatDateCom this.date}}} (Le {{{formatDate this.date "DD MMMM YYYY à HH:mm"}}})</span>

            {{this.liked}}

            {{#if @root.user}}
            <form action="/like/commentaire/{{this.id}}" method="post" target="iframe">
                <button onclick="like({{this.id}})" type="submit" class="btn-icon">
                    {{#ifCond FL.id_com undefined}}
                        <i id="heart-{{this.id}}" class="bi bi-heart"></i>
                    {{/ifCond}}
                        {{#each @root.ArticleID.checkLike as |FL|}}
                            {{#ifCond FL.id_com ../this.id}}
                                {{#ifCond FL.liked 0 }}
                                     <i id="heart-{{../this.id}}" class="0 bi bi-heart"></i>
                                {{else}}
                                        <i id="heart-{{../this.id}}" class="bi bi-heart-fill"></i>
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/each}}
                   
                    

                </button>
            </form>

            <form action="/report/commentaire/{{this.id}}" method="post" target="iframe">
                <button type="submit" class="btn-icon">

                    <i class="bi bi-exclamation-octagon"></i>

                </button>
            </form>
            <form target="iframe">
                <button type="submit" class="btn-icon">
                    <i class="bi bi-reply-fill"></i>
                </button>
            </form>
            <iframe name="iframe" style="position: absolute; visibility: hidden"></iframe>
            {{/if}}

        </div>
        <div class="comment-content">
            <div class="d-flex col-12">
                {{>article/form}}
            </div>
            {{this.content}}
        </div>
    </div>
</div>

<script>

    function like(id) {
        var heart = document.getElementById(`heart-${id}`);

        if (heart.classList.value.includes("bi-heart-fill")) {
            heart.classList.remove('bi-heart-fill')
            heart.classList.add('bi-heart')
        } else {
            heart.classList.remove('bi-heart')
            heart.classList.add('bi-heart-fill')
        }

    }

</script>