<ul class="comments-list reply-list">
    <li>
        <!--  -->
        <div class="comment-box">
            <div class="comment-head">
                {{#each respUser}}
                {{!-- <div class="comment-avatar"><img src="/assets/images/user/{this.avatar}" alt=""></div> --}}
                <h6 class="comment-name by-author"> {{this.prenom}} {{{maskNom this.nom}}}</h6>
                {{/each}}
                <span>{{{formatDateCom this.date}}} (Le {{{formatDate this.date "DD MMMM YYYY à HH:mm"}}})</span>
                {{#if @root.user}}
                <i class="bi bi-heart"></i>
                <i class="bi bi-exclamation-octagon"></i>
                {{/if}}
            </div>

            <div class="comment-content">
                <div class="d-flex col-12">
                    {{>article/form}}
                </div>
                {{this.content}}
            </div>

        </div>
    </li>
</ul>