{{!-- Page creations:ID --}}

<section id="slider">

    <div id="creations" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="slider-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            {{#each data2}}

            <div id="it-{{this.id}}" class="carousel-item"
                style="background-image: url('/assets/images/creations/{{ this.img_url }}');background-repeat:no-repeat;background-size:contain; background-position: center; ">
            </div>
            {{/each}}
        </div>

        <a class="carousel-control-prev" href="#creations" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#creations" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>

<div class="container">
    <div class="row">
        <di class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/creations">Créations</a></li>
                </ol>
            </nav>
        </di>
        <div class="container my-5">
            <div class="row">
                {{#each data}}
                <div class="itemid col-12">
                    <p>{{ this.description }}</p>
                    <p><i>Fait le : {{ this.date }}</i></p>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 border-bottom">
            <form action="/send/commentaire" method="post">
                <textarea class="form-control" name="com" placeholder="Votre commentaire" required></textarea>
                <button type="submit">SEND</button>
            </form>
        </div>
        <div class="col-12 d-flex align-content-center">
            <div class="comments-container">
                {{!-- <h1 class="border-bottom">Commentaires</h1> --}}
                <ul id="comments-list" class="comments-list">
                    <li>
                        <div class="comment-main-level">


                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <div class="comment-avatar"><img
                                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                            alt=""></div>
                                    <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin
                                            Ortiz</a></h6>
                                    <span>hace 20 minutos</span>
                                    <i class="bi bi-heart"></i>
                                    <i class="bi bi-exclamation-octagon"></i>
                                    <i class="bi bi-reply-fill"></i>
                                    
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                                    laudantium vitae, praesentium optio, sapiente distinctio illo?
                                </div>
                            </div>
                        </div>
                        <!-- Respuestas de los comentarios -->
                        <ul class="comments-list reply-list">
                            <li>


                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <div class="comment-avatar"><img
                                                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                                alt=""></div>
                                        <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a>
                                        </h6>
                                        <span>hace 10 minutos</span>
                                    <i class="bi bi-heart"></i>
                                    <i class="bi bi-exclamation-octagon"></i>
                                    <i class="bi bi-reply-fill"></i>
                                    </div>
                                    <div class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et
                                        iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                    </div>
                                </div>
                            </li>

                            <li>


                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <div class="comment-avatar"><img
                                                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                                alt=""></div>
                                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin
                                                Ortiz</a></h6>
                                        <span>hace 10 minutos</span>
                                    <i class="bi bi-heart"></i>
                                    <i class="bi bi-exclamation-octagon"></i>
                                    <i class="bi bi-reply-fill"></i>
                                    </div>
                                    <div class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et
                                        iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <div class="comment-main-level">


                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <div class="comment-avatar"><img
                                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                            alt=""></div>
                                    <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                                    <span>hace 10 minutos</span>
                                    <i class="bi bi-heart"></i>
                                    <i class="bi bi-exclamation-octagon"></i>
                                    <i class="bi bi-reply-fill"></i>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                                    laudantium vitae, praesentium optio, sapiente distinctio illo?
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function ef() {
        document.getElementById(`it-{{parms}}`).classList.add('active')
    }

    ef()
</script>

<style>
    /*--------------------------------------------------------------
# slider Section
--------------------------------------------------------------*/
    #slider {
        width: 100%;
        height: 80vh;
        background-color: rgba(22, 30, 56, 0.8);
        overflow: hidden;
        position: relative;
    }

    #slider .carousel,
    #slider .carousel-inner,
    #slider .carousel-item,
    #slider .carousel-item::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    #slider .carousel-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #slider .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 70px;
        left: 50px;
        right: 50px;
    }

    #slider .container {
        text-align: center;
    }

    #slider h2 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 48px;
        font-weight: 700;
    }

    #slider p {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        margin: 0 auto 30px auto;
        color: #fff;
    }

    #slider .carousel-inner .carousel-item {
        transition-property: opacity;
        background-position: center top;
    }

    #slider .carousel-inner .carousel-item,
    #slider .carousel-inner .active.carousel-item-start,
    #slider .carousel-inner .active.carousel-item-end {
        opacity: 0;
    }

    #slider .carousel-inner .active,
    #slider .carousel-inner .carousel-item-next.carousel-item-start,
    #slider .carousel-inner .carousel-item-prev.carousel-item-end {
        opacity: 1;
        transition: 0.5s;
    }

    #slider .carousel-control-next-icon,
    #slider .carousel-control-prev-icon {
        background: none;
        font-size: 30px;
        line-height: 0;
        width: auto;
        height: auto;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        transition: 0.3s;
        color: rgba(255, 255, 255, 0.5);
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #slider .carousel-control-next-icon:hover,
    #slider .carousel-control-prev-icon:hover {
        background: rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.8);
    }

    #slider .carousel-indicators li {
        cursor: pointer;
        background: #fff;
        overflow: hidden;
        border: 0;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        opacity: 0.6;
        transition: 0.3s;
    }

    #slider .carousel-indicators li.active {
        opacity: 1;
        background: #006fbe;
    }

    #slider .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 14px 32px;
        border-radius: 4px;
        transition: 0.5s;
        line-height: 1;
        color: #fff;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        background: #006fbe;
    }

    #slider .btn-get-started:hover {
        background: #007ed8;
    }

    @media (max-width: 992px) {
        #slider {
            height: 100vh;
        }

        #slider .carousel-container {
            top: 8px;
        }
    }

    @media (max-width: 768px) {
        #slider h2 {
            font-size: 28px;
        }
    }

    @media (min-width: 1024px) {

        #slider .carousel-control-prev,
        #slider .carousel-control-next {
            width: 5%;
        }
    }

    @media (max-height: 500px) {
        #slider {
            height: 120vh;
        }
    }
</style>