{{!-- Page creations:ID --}}


<div class="container">
    <div class="row">
        <di class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/creations">creations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ creationsitem.link_title }}</li>
                </ol>
            </nav>
        </di>
        <div class="container my-5">
            <div class="row">
                <div class="col-xs-12 col-xm-12 col-md-4">
                    <div class="card">
                        <img src="{{ creationsitem.img }}" class="card-img-top" alt="{{ creationsitem.alt }}">
                        <div class="card-body">
                            <p class="card-text">{{ creationsitem.desc }}</p>
                        </div>
                    </div>
                </div>
                <div class="itemid col-xs-12 col-xm-12 col-md-8">
                    <p>{{ creationsitem.article_txt }}</p>
                </div>
            </div>
        </div>
    </div>
    {{#if isAdmin }}
    <div class="col-md-12">
        {{> admin/panel/deleteItem }}
    </div>
    {{/if }}
</div>



