{{!-- Page creations:ID --}}

<section id="slider">

    <div id="creations" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="slider-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            {{#each ArticleID.GetImgCrea}}

            <div id="it-{{this.id}}" class="carousel-item"
                style="background-image: url('/assets/images/creations/{{ this.img_url }}');background-repeat:no-repeat;background-size:contain; background-position: center; ">
            </div>
            {{/each}}
        </div>

        <a class="carousel-control-prev" href="#creations" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#creations" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>

<div class="container">
    <div class="row">
        <di class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/creations">Créations</a></li>
                </ol>
            </nav>
        </di>
        <div class="container my-5">
            <div class="row">
                <div class="itemid col-12">
                    <p>{{ ArticleID.getCreations.description }}</p>
                    <p><i>Fait le : {{{formatDate ArticleID.getCreations.date "DD MMMM YYYY"}}}</i></p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        {{#if user}}
        <div class="col-12 border-bottom">
            <form action="/send/commentaire/{{ ArticleID.getCreations.id }}" method="post">
                <textarea class="form-control" name="com" placeholder="Votre commentaire" required></textarea>
                <button type="submit">SEND</button>
            </form>
        </div>
        {{/if}}
        <div class="col-12 d-flex align-content-center">
            <div class="comments-container">
                <ul id="comments-list" class="comments-list">
                    <li>
                        {{#each ArticleID.comment}}
                            {{#if this.id_articles}}
                            <!-- -->
                                {{> article/comment}}
                            <!-- -->
                            {{/if}}

                            {{#each this.child as |child|}}
                                {{#ifCond ../this.id child.id_com_parent}}
                                <!-- -->
                                    {{> article/reply}}
                                <!-- -->
                                {{/ifCond}}
                            {{/each}}
                        {{/each}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function ef() {
        document.getElementById(`it-{{parms}}`).classList.add('active')
    }
    ef()
</script>
