{{!-- Page blog:ID --}}


<div class="container">
    <div class="row">
        <di class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{blogitem.link_title}}</li>
                </ol>
            </nav>
        </di>
        <div class="container my-5">
            <div class="row">
                <div class="col-xs-12 col-xm-12 col-md-4">
                    <div class="card">
                        <img src="{{blogitem.img}}" class="card-img-top" alt="{{blogitem.alt}}">
                        <div class="card-body">
                            <p class="card-text">{{blogitem.desc}}</p>
                        </div>
                    </div>
                </div>
                <div class="itemid col-xs-12 col-xm-12 col-md-8">
                    <p>{{blogitem.article_txt}}</p>
                </div>
            </div>
        </div>
    </div>
</div>